header{
font-family: 'Rozha One', serif;
font-style: italic;
font-weight: bold;
color: #3F6F75;
text-align: center;
font-size: 40px;
}
header a{
font-family: 'Rozha One', serif;
font-style: italic;
font-weight: bold;
color: #3F6F75;
text-align: center;
text-decoration: none;
}
header a:hover{
font-family: 'Rozha One', serif;
font-style: italic;
font-weight: bold;
color: #FFAD6D;
text-align: center;
text-decoration: none;
}
.navigaion{
  font-family: arial;
  font-style: italic;
  font-weight: bold;
}
body{
    background-color: black;
}
html{

  text-align: center;
  color:#3F6F75;
}
.image{
  width: 700px;
  height: auto;
}
li{
  display: inline;
  padding: 40px;
}
li a{
  display: inline;
  color: #3F6F75;
  text-decoration: none;
}
li a:hover{
  display: inline;
  color: #FFAD6D;
  text-decoration: none;
}
ul{
  color: #3F6F75;
  margin-right: 40px;
  padding-bottom: 30px;
}
footer{
  color: #3F6F75
}
p{
  color: #3F6F75;
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  font-style: italic;
}
.tagline{
  color: #3F6F75;
  font-family: arial;
  font-weight: bold;
  font-size: 22px;
  font-style: italic;
}
.taglinetitle{
  font-family: 'Rozha One', serif;
  color: #3F6F75;
  font-style: italic;
  font-weight: bold;
  font-size: 30px;
}
.ftitle{
  font-family: 'Rozha One', serif;
  font-style: italic;
  font-weight: bold;
  font-size: 100px;
}
.footer{
  color: #3F6F75;
  font-family: arial;
  font-size: 20px;
}
